[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
pyperclip = "*"
jupyter-helpers = "*"
win10toast = "*"
pyautogui = "*"
pandas = "*"
build = "*"
numpy = "*"
numpy-financial = "*"
openpyxl = "*"
matplotlib = "*"
seaborn = "*"
plotly = "*"
lux = "*"
lux-api = "*"
missingno = "*"
ydata-profiling = "*"
pandas-profiling = "*"
dataprep = "*"
pyarrow = "*"
jaro-winkler = "*"
xgboost = "*"
scikit-learn = "*"
fredapi = "*"
fp-data-toolbox = {git = "https://github.com/fredapires/fp_data_toolbox"}

[dev-packages]
faker = "*"
pytest = "*"

[requires]
python_version = "3.9"
